<div class="movie-card">
    <img class="img-fluid" [src]="movieData?.poster_url" [alt]="movieData?.name">
    <div class="d-flex aling-items-start justify-content-between mt-2">
        <div class="title" title="{{ movieData?.name }}">{{ movieData?.name }}</div>
        <div class="rating">{{ movieData?.rate }}/5</div>
    </div>
    <div class="synopsis mt-3">
        {{ movieData?.synopsis }}
    </div>
    <div class="d-flex aling-items-start justify-content-between mt-3">
        <div>
            <div>Diretor</div>
            <div class="director">{{ movieData?.director }}</div>
        </div>
        <div>
            <div>Data de lançamento</div>
            <div class="releaseDate">{{ movieData?.release_date }}</div>
        </div>
    </div>
</div>
